@model TutorialWebApp.Models.ViewModels.OrderEntity

<div class="align-content-center">
    <div class="text-center text-success">
        <h3>Payment Received Successfully!!</h3>
    </div>
    <br/>
    <table class="table table-striped" width="10px">
        <thead>
            <tr>
                <td><b>Transaction Number</b></td>
                <td>@Html.DisplayText("TransactionId")</td>
            </tr>
            <tr>
                <td><b>Order Number</b></td>
                <td>@Html.DisplayText("OrderId")</td>
            </tr>
        </thead>
    </table>
    <div class="text-center">
        <a href="https://coding-nexus.mykajabi.com/offers/Nrwivw3f" class="btn btn-primary">Explore Course</a>
    </div>
</div>